.env
.idea
.vscode
.php-cs-fixer.cache
.phplint-cache
.phpunit.result.cache
cache/*.cache
composer.phar
public/assets/bootstrap/
public/assets/font-awesome/
public/assets/jquery/
public/deployed-version.txt
vendor
infection.log
infection.html
infection.json
showcache
summary.log
