.env
.idea
.vscode
.php-cs-fixer.cache
.phpactor.json
.phplint-cache
.phpunit.result.cache
cache/*.cache
cache/twig/
composer.phar
public/assets/bootstrap/
public/assets/font-awesome/
public/assets/jquery/
public/deployed-version.txt
public/style/calendar.css
vendor
infection.log
infection.html
infection.json
showcache
summary.log
