parameters:
    bootstrapFiles:
        - app/inc/config.php
    paths:
        - app
        - public
    ignoreErrors:
        -
            message: "#^Variable \\$url might not be defined\\.#"
            count: 1
            path: app/inc/init.php
        -
            message: "#^Comparison operation \"\\>\" between int\\<[0-9]+, max\\> and [0-9]+ is always true\\.#"
            count: 1
            path: app/controllers/release.php
        -
            message: "#^Strict comparison using !== between [0-9]+ and [0-9]+ will always evaluate to false\\.$#"
            count: 1
            path: app/models/home.php
        - '#.+?function array_multisort is passed by reference, so it expects variables only#'
    reportUnmatchedIgnoredErrors: false
    level: 6


