parameters:
    bootstrapFiles:
        - app/inc/config.php
    paths:
        - app
        - public
    ignoreErrors:
        - '#.+?function array_multisort is passed by reference, so it expects variables only#'
    level: 6
