/* Fonts */


/* General structure */
body {
    width: 80%;
}

header {
    text-align: center;
}


/* crashes on Nightly page */

#todayinnightly .btn-sm {
    line-height: 1em;
}

#todayinnightly ol {
    line-height: 1.5em;
    margin-top: 1em;
}

#todayinnightly ol li {
    margin-top: 0.4em;
}

nav svg {
    fill: #c91111;
}

.table {
    margin: 0 auto;
    width: 90%;
}
