/* Fonts */


/* General structure */
body {
    background-color: #20123a;
    color: white;
}

header {
    text-align: center;
}


/* crashes on Nightly page */

#todayinnightly .btn-sm {
    line-height: 1em;
}

#todayinnightly ol {
    line-height: 1.5em;
    margin-top: 1em;
}

#todayinnightly ol li {
    margin-top: 0.4em;
}

nav svg {
    fill: whitesmoke;
    margin-top: 0.5em;
}

.table {
    margin: 0 auto;
    width: 90%;
}

.table td,
.table th {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.table th {
    font-weight: 500;
}


/* home page */
h1,
h2,
h3 {
    font-weight: 300;
}

#homepage h1 {
    font-size: 3.5rem;
    margin-bottom: 2em;
}

#homepage h1,
#homepage h2,
#homepage h3 {
    margin-top: 1em;
}

#homepage a {
    color: white;
    text-decoration: underline;
}

#homepage img {
    width: 70%;
}

/* About tooltip */
#homepage a >i {
    font-size: 2rem;
    margin-top: 0.5em;
}

/* Milestones caption on top of list */
#release caption {
    caption-side: top;
}

@media only screen and (max-width: 460px) {
    .w-25 {
        width: 100% !important;
    }

    #homepage h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5em;
    }

    #homepage h1,
    #homepage h2,
    #homepage h3 {
        margin-top: 0.5em;
    }

    #homepage div.col-sm {
        margin-bottom: 4em;
    }

    #homepage h3.text-center {
        margin-bottom: 1em;
        margin-top: 0;
    }

    #homepage .alert-primary {
        padding: 0.5rem 0.25rem;
    }
}
