/* Fonts */
@font-face {
 font-display:swap;
 font-family:Inter;
 font-style:normal;
 font-weight:400;
 src:url("/assets/fonts/Inter/Inter-Regular.d55e957612a3.woff2") format("woff2");
}
@font-face {
 font-display:swap;
 font-family:Inter;
 font-style:normal;
 font-weight:700;
 src:url("/assets/fonts/Inter/Inter-Bold.0564381b22b2.woff2") format("woff2");
}
@font-face {
 font-display:swap;
 font-family:Inter;
 font-style:italic;
 font-weight:400;
 src:url("/assets/fonts/Inter/Inter-Italic.d6a4e2b82a0b.woff2") format("woff2");
}
@font-face {
 font-display:swap;
 font-family:Inter;
 font-style:italic;
 font-weight:700;
 src:url("/assets/fonts/Inter/Inter-BoldItalic.9d1b867e3416.woff2") format("woff2");
}
@font-face {
 font-display:swap;
 font-family:'Zilla Slab';
 font-style:normal;
 font-weight:400;
 src:url("/assets/fonts/Inter/ZillaSlab-Regular.f9de6143fdfa.woff2") format("woff2");
}
@font-face {
 font-display:swap;
 font-family:'Zilla Slab';
 font-style:normal;
 font-weight:700;
 src:url("/assets/fonts/Inter/ZillaSlab-Bold.8d7f01331d2b.woff2") format("woff2");
}

/* General structure */
body {
    font-family: Inter,X-LocaleSpecific,sans-serif;
    background-color: #20123a;
    color: white;
}

header {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Nightly page */

#nightly .buildid {
    margin-left: -2em;
}

#nightly ol li::marker {
  color: rgb(110, 110,110);
}

#nightly ol li img {
    filter: grayscale(80%);
}

#nightly ol li img:hover {
    filter: none;
}


nav svg {
    fill: whitesmoke;
    margin-top: 0.5em;
}

.table {
    margin: 0 auto;
    width: 100%;
}

.table td,
.table th {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.force-default-bg  {
    box-shadow: unset !important;
}

.bug-link {
    display:inline-block;
    width:100%;
    height:100%;
    white-space: nowrap;
}

.score-card {
    visibility: hidden;
    position: absolute;
    margin-left: 3em;
    margin-top: -1em;
    min-width: 8em;
    max-width: 10em;
    box-shadow: 8px 10px 11px -1px rgba(128,127,127,0.58);
}

.score-pill:hover + .score-card {
    visibility: visible;
}

/* home page */
h1,
h2,
h3 {
    font-weight: 300;
}

#homepage h1 {
    font-size: 3.5rem;
    margin-bottom: 2em;
}

#homepage h1,
#homepage h2,
#homepage h3 {
    margin-top: 1em;
}

#homepage img {
    width: 70%;
}

/* Milestones caption on top of list */
#release caption,
#release_esr caption {
    caption-side: top;
}

#release_esr .table  th {
    text-align: center;
}


#release_esr .table + .table td {
    width: 6em;
}

#release .table td,
#release_esr .table td {
    text-align: right;
    white-space: nowrap;
}

#release .table th details p {
    padding: 0.5rem;
    margin: 0.5em;
    border-left: 3px solid lightgray;
    font-size: small;
    font-weight: normal;
}
#release .table th summary::marker {
    color: lightgray;
    font-size:  small;
}
@media only screen and (max-width: 460px) {
    .w-50 {
        width: 100% !important;
    }

    #homepage h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5em;
    }

    #homepage h1,
    #homepage h2,
    #homepage h3 {
        margin-top: 0.5em;
    }

    #homepage div.col-sm {
        margin-bottom: 4em;
    }

    #homepage h3.text-center {
        margin-bottom: 1em;
        margin-top: 0;
    }

    #homepage .alert-primary {
        padding: 0.5rem 0.25rem;
    }
}

/* About tooltip */
 #homepage .information {
    color: white;
 }

 #homepage .information:hover {
    color: #ffe343;
 }

/* About page */
#about h3 {
    margin-top: 1em;
}

footer {
    text-align: center;
    margin-top: 2em;
}

.text-color-1 {
    color: purple !important;
    text-shadow: -1px 0px 0px lightgray;
}

/* Nightly Page */
#nightly table {
    table-layout: fixed;
}

#nightly table tr th:nth-child(1) {
    width:6em;
}

#nightly table tr th:nth-child(2){
    width: 15em;
}

#nightly table tr th:nth-child(3) {
    width: 4.5em;
}

#nightly table tr th:nth-child(4) {
/*    width: 10em;*/
}

#nightly table tr td a {
  overflow: hidden;
  text-overflow: " ✁";
}