/* Fonts */
@font-face {
 font-display:swap;
 font-family:Inter;
 font-style:normal;
 font-weight:400;
 src:url("https://www.mozilla.org/media/fonts/Inter-Regular.d55e957612a3.woff2") format("woff2"),
 url("https://www.mozilla.org/media/fonts/Inter-Regular.1a7f90ff1f1e.woff") format("woff")
}
@font-face {
 font-display:swap;
 font-family:Inter;
 font-style:normal;
 font-weight:700;
 src:url("https://www.mozilla.org/media/fonts/Inter-Bold.0564381b22b2.woff2") format("woff2"),
 url("https://www.mozilla.org/media/fonts/Inter-Bold.2767206dcd8d.woff") format("woff")
}
@font-face {
 font-display:swap;
 font-family:Inter;
 font-style:italic;
 font-weight:400;
 src:url("https://www.mozilla.org/media/fonts/Inter-Italic.d6a4e2b82a0b.woff2") format("woff2"),
 url("https://www.mozilla.org/media/fonts/Inter-Italic.fb463a63312e.woff") format("woff")
}
@font-face {
 font-display:swap;
 font-family:Inter;
 font-style:italic;
 font-weight:700;
 src:url("https://www.mozilla.org/media/fonts/Inter-BoldItalic.9d1b867e3416.woff2") format("woff2"),
 url("https://www.mozilla.org/media/fonts/Inter-BoldItalic.d4f1ac27c3c1.woff") format("woff")
}
@font-face {
 font-display:swap;
 font-family:'Zilla Slab';
 font-style:normal;
 font-weight:400;
 src:url("https://www.mozilla.org/media/fonts/ZillaSlab-Regular.f9de6143fdfa.woff2") format("woff2"),
 url("https://www.mozilla.org/media/fonts/ZillaSlab-Regular.f7120c75de27.woff") format("woff")
}
@font-face {
 font-display:swap;
 font-family:'Zilla Slab';
 font-style:normal;
 font-weight:700;
 src:url("https://www.mozilla.org/media/fonts/ZillaSlab-Bold.8d7f01331d2b.woff2") format("woff2"),
 url("https://www.mozilla.org/media/fonts/ZillaSlab-Bold.be1d6507cb98.woff") format("woff")
}

/* General structure */
body {
    font-family: Inter,X-LocaleSpecific,sans-serif;
    background-color: #20123a;
    color: white;
}

header {
    text-align: center;
}

a {
    text-decoration: none;
}

/* crashes on Nightly page */

#nightly .buildid {
    margin-left: -2em;
}

nav svg {
    fill: whitesmoke;
    margin-top: 0.5em;
}

.table {
    margin: 0 auto;
    width: 90%;
}

.table td,
.table th {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* home page */
h1,
h2,
h3 {
    font-weight: 300;
}

#homepage h1 {
    font-size: 3.5rem;
    margin-bottom: 2em;
}

#homepage h1,
#homepage h2,
#homepage h3 {
    margin-top: 1em;
}

#homepage a {
    color: white;
    text-decoration: underline;
}

#homepage img {
    width: 70%;
}

/* Milestones caption on top of list */
#release caption {
    caption-side: top;
}

#release .table th {
    min-width: 50%;
}

#release .table td {
    text-align: right;
}

@media only screen and (max-width: 460px) {
    .w-50 {
        width: 100% !important;
    }

    #homepage h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5em;
    }

    #homepage h1,
    #homepage h2,
    #homepage h3 {
        margin-top: 0.5em;
    }

    #homepage div.col-sm {
        margin-bottom: 4em;
    }

    #homepage h3.text-center {
        margin-bottom: 1em;
        margin-top: 0;
    }

    #homepage .alert-primary {
        padding: 0.5rem 0.25rem;
    }
}

/* About tooltip */
 #homepage .information {
    display:inline-block;
    height: 32px;
    width: 32px;
    line-height: 25px;
    margin-top: 0.5em;

    color: white;
    background-color: #20123a;
    border-radius: 50%;
    border: 3px solid white;

    font-size: 29px;
    font-family: Serif;
    font-weight: bold;
    text-align: center;
}

 #homepage .information:hover {
    color: #20123a;
    background-color: white;
 }
