<!-- base.html.twig -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" media="screen">
{% for css_file in css_files %}
    <link rel="stylesheet" href="/style/{{ css_file }}" type="text/css" media="all" />
{% endfor %}
  </head>
  <body id="{{ css_page_id }}" class="container-fluid  px-lg-5">
    {% block header %}{% endblock %}
  <div class="row center">
    <div class="col">
    {% block main   %}{% endblock %}
    </div>
  </div>
    {% block footer %}{% endblock %}
    <script src="/public/assets/jquery.slim.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
