{% extends 'base.html.twig' %}

{% block head_additions %}
    {% set meta_description = 'Follow Firefox trains and major milestones easily!' %}
    <meta name="description" content="{{ meta_description }}">
    <meta property="twitter:description" content="{{ meta_description }}">
    <meta property="og:url" content="https://whattrainisitnow.com/calendar/monthly/">
    <link rel="stylesheet" type="text/css" href="/style/calendar.css">
{% endblock %}

{% block header %}
    <header class="mx-auto">
        <h1>Upcoming Firefox release milestones</h1>
    </header>
{% endblock %}

{% block main %}
<div class="row fix justify-content-center">
    {% for month in upcoming_months %}
    <div class="col-sm-12 col-sm-2 col-md-8">
        {{ calendar.draw(month)|raw }}<br>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
  {% include 'footer_UTC_warning.html.twig' %}
{% endblock %}
