{% extends 'base.html.twig' %}

{% block header %}
  <h1 class="text-center">Currently shipping</h1>
{% endblock %}

{% block main %}
<div class="container  h-100">
  <div class="row text-center align-items-center">
    <div class="col-sm">
      <div><img src="/assets/img/firefox-logo.svg"></div>
      <h2>{{ constant('FIREFOX_RELEASE')|number_format }}</h2>
      <h3><a href="/release/?version=release">Release</a></h3>
    </div>
    <div class="col-sm">
      <div><img src="/assets/img/firefox-logo-beta.svg"></div>
      <h2>{{ constant('FIREFOX_BETA')|number_format }}</h2>
      <h3><a href="/release/?version=beta">Beta</a></h3>
    </div>
    <div class="col-sm">
      <div><img src="/assets/img/firefox-logo-nightly.svg"></div>
      <h2>{{ constant('FIREFOX_NIGHTLY')|number_format }}</h2>
      <h3><a href="/release/?version=nightly">Nightly</a></h3>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  <footer></footer>
{% endblock %}

