{% extends 'base.html.twig' %}

{% block header %}
  <header><h1 class="fw-semibold">{{ page_title  }}</h1></header>
{% endblock %}

{% block main %}
  {{ page_content | raw}}
{% endblock %}

{% block footer %}
  <footer></footer>
{% endblock %}
