{% extends 'base.html.twig' %}

{% block header %}
  <header><h1>{{ page_title  }}</h1></header>
{% endblock %}

{% block main %}
  <p>{{ page_content | raw}}</p>
{% endblock %}

{% block footer %}
  <footer></footer>
{% endblock %}
