{% extends 'base.html.twig' %}

{% block header %}
    <header><h1 class="fw-semibold">{{ page_title  }}</h1></header>
{% endblock %}

{% block main %}
    <div class="mt-5 d-flex flex-row w-50 alert p-0 alert-light mx-auto justify-content-center text-center" role="alert">
        <div class="font-monospace bg-primary-subtle flex-fill p-0 fw-semi-bold fs-3 text-dark">400</div>
        <div class=" flex-fill p-2 align-self-center ">{{ page_content|raw }}</div>
    </div>
{% endblock %}

{% block footer %}
    <footer></footer>
{% endblock %}


